{% extends 'app/base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  <h3>Welcome</h3>

  <hr> <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="{% url 'notes' %}">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/notes.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Notes
            </h5>
            Create and save Notes and refer them when you needed.
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'homework' %}">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/homework.png' %}" alt="homework image">
          <div class="card-body">
            <h5 class="card-title ">
              Homework
            </h5>
            Use platform to manage your homework so you never miss the deadline.
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="{% url 'youtube' %}">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/youtube.png' %}" alt="Youtube logo">
          <div class="card-body">
            <h5 class="card-title ">
              Youtube
            </h5>
            Stuck somewhere? Make use of youtube to learn new things.
          </div>
        </div>
      </a>
    </div>
  </div>  
    
  <br><br><br>

  <div class="row row-cols-1 row-cols-md-3 g-4">  
    <div class="col">
      <a href="{% url 'todo' %}">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/todo.jpeg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              To Do
            </h5>
            Add your to-do lists for your day and get sorted along with that you can set task is finished when its done.
          </div>
        </div>
      </a>
    </div>
  
    <div class="col">
      <a href="{% url 'book' %}">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/books.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Books
            </h5>
           Add books/articals/blogs that you want to go through in near future and set its finished or not
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="#">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'images/askme.jpg' %}" alt="ask me image">
          <div class="card-body">
            <h5 class="card-title ">
              Ask Me
            </h5>
            To accelerate your growth/learning you can take my help
          </div>
        </div>
      </a>
    </div>
  </div>


</section>
{% endblock content %}